In [2]:
import pandas as pd

df = pd.read_csv("exams.csv")

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [3]:
# Select score culumns for analysis
score_columns = ["math score", "reading score", "writing score"]
scores_df = df[score_columns]

scores_df.head()

   math score  reading score  writing score
0          67             67             63
1          40             59             55
2          59             60             50
3          77             78             68
4          78             73             68

In [4]:
# calculate basic statistics
mean_scores = scores_df.mean()
median_scores = scores_df.median()
std_scores = scores_df.std()

print("Mean scores: ")
print(mean_scores)

print ("\nMedian scores: ")
print(median_scores)

print("\nStd scores: ")
print(std_scores)

Mean scores:
math score       66.396
reading score    69.002
writing score    67.738
dtype: float64

Median scores:
math score       66.5
reading score    70.0
writing score    68.0
dtype: float64

Std scores:
math score       15.402871
reading score    14.737272
writing score    15.600985
dtype: float64

In [ ]:
# Calculate min and max value for each score
min_scores = scores_df.min()
max_scores = scores_df.max()

print("Minimum scores: ")
print(min_scores)

print("Maximum scores: ")
print(max_scores)

Minimum scores:
math score       13
reading score    27
writing score    23
dtype: int64
Maximum scores:
math score       100
reading score    100
writing score    100
dtype: int64